header{
    width: 680;
    height: 400;
    background-color: black;
}
body{
    background-color: beige; 
    
}
h1, h2{
    text-align: left;   
}
nav{
    text-align: center;
}
}
footer{
    color: blanchedalmond;
    background-color: beige;
    text-align: left;
}